.footer {
  padding-bottom: 60px;
  padding-top: 60px;

  background-color: var(--background-color-hero-footer);
}

.footer .container {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
}

.text-footer {
  margin-bottom: 20px;

  text-align: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
