.form {
  width: 448px;
  /* margin-left: auto;
    margin-right: auto; */
}

.text-form {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.form-field {
  display: flex;
  flex-direction: column;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-field + .form-field {
  margin-top: 10px;
}

.modal-label-text {
  margin-bottom: 4px;
}

.input-wrap {
  display: block;
  position: relative;
}

.input-field {
  width: 100%;
  height: 40px;
  border: 1px solid #21212133;
  border-radius: 4px;

  padding-left: 42px;

  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus {
  outline: transparent;
  border: 1px solid #2196f3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
}

.form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus ~ .form-icon {
  fill: var(--accent-color);
}

.comment {
  margin-top: 4px;
  padding: 12px 16px;
  height: 120px;
  border: 1px solid #21212133;
  border-radius: 4px;

  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus {
  outline: transparent;
  border: 1px solid #2196f3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
}

.comment::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: #75757580;
}

.accord-link {
  color: var(--accent-color);
}

.accord-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 425px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.accord-icon {
  margin-right: 8px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accord-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: #2196f3;
}

.checkbox {
  appearance: none;
  position: absolute;
}

.checkbox:checked + .accord-icon {
  background-color: var(--accent-color);
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-origin: padding-box;

  border-radius: 2px;

  fill: transparent;
}
