.hero {
  background-color: var(--background-color-hero-footer);

  background-image: var(--bck-gradient), url(../images/bck-image-mob.jpeg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  @include retina {
    background-image: var(--bck-gradient), url(../images/bck-image-mob-2x.jpeg);
  }

  @media screen and (min-width: 768px) {
    padding-top: 180px;
    padding-bottom: 180px;
    background-image: var(--bck-gradient), url(../images/bck-image-tablet.jpeg);

    @include retina {
      background-image: var(--bck-gradient),
        url(../images/bck-image-tablet-2x.jpeg);
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: var(--bck-gradient), url(../images/bck-image.jpg);
    @include retina {
      background-image: var(--bck-gradient), url(../images/bck-image-2x.jpeg);
    }
  }
}

.hero__content {
  text-align: center;
}

.hero__title {
  color: var(--white-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 100%;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
