.logo {
padding-top: 16px;
padding-bottom: 16px;

  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__text {
  color: var(--black-color);
}

.logo__text--white {
  color: var(--background-color);
}

.mob-menu-open-btn {
  margin-left: auto;
  border: none;
  background-color: var(--white-color);
  @media screen and (min-width: 768px) {
    display: none;
  }
}