.menu {
    display: flex;
    margin-left: 93px;
    gap: 50px;
  }
  
  
  /* .menu .item + .item {
    margin-left: 50px;
  } */
  
  .list {
    list-style: none;
  }
  
  .menu__item {
    position: relative;
  }
  
  .menu__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .menu__link:hover,
  .menu__link:focus {
    color: var(--accent-color);
  }
  
  .menu__link.current {
    color: var(--accent-color);
  }
  
  .menu__link.current::after {
    position: absolute;
    bottom: 0%;
    left: 50%;
    margin: 0;
    transform: translate(-50%);
  
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }