
.illustration {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.illustration__item {
  width: 100%;
  // margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.illustration__icon-content {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-btn-color);
  min-width: 270px;
  height: 120px;
}

.illustration__title {
  color: var(--title-text-color);

  margin-bottom: 10px;
  margin-top: 30px;

  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.illustration__text {
  font-size: 14px;
  line-height: 1.71;
}


.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
