.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  margin-bottom: 30px;

  color: var(--title-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  text-align: center;
}
